<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Title</title>
</head>
<body>
<span th:text="${count}"></span>

<div class="container">
    <form class="form-signin" th:action="@{/theme}" method="post">
        <h1 class="h3 mb-3 font-weight-normal">Укажите ваши данные</h1>

        <input type="text" name="inputFIO" class="form-control" placeholder="ФИО" required autofocus>

        <input type="number" name="inputGroup" class="form-control" placeholder="Группа" required>

        <input type="number" name="inputCourse" class="form-control" placeholder="Курс" required>

        <input type="number" name="inputQuestionsCount" class="form-control" placeholder="Количество вопросов" required>

        <!--<div class="checkbox mb-3">-->
        <!--<label>-->
        <!--<input type="checkbox" value="remember-me"> Remember me-->
        <!--</label>-->
        <!--</div>-->

        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    </form>
    <p class="mt-5 mb-3 text-muted">&copy; 2019-2020</p>
</div>
<script>
    function takeQuestions() {
    }
</script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>