<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Title</title>
</head>
<body>

<div class="container">
    <h1>Предположим, это тестовая страница</h1>
    <div th:each="question,stat:${questions}">
        Вопрос <span th:text="${stat.count}"></span>: <p th:text="${question.getQuestion()}"></p>
        <div th:each="option,iterStat:${question.getOptions()}">
            <label>
                <input type="checkbox" th:text="${option}" th:class="${question.getToken()}"
                       th:name="${iterStat.index}">
            </label>
        </div>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="button" onclick="checkAnswers()">Закончить тест</button>
    <p class="mt-5 mb-3 text-muted">&copy; 2019-2020</p>
</div>
<script th:inline="javascript">
    function checkAnswers() {
        $(":checkbox").attr('disabled', true);
        var response = [{token: "", answer: 0}];
        var allTokens = new Set();
        $('input').each(function () {
            allTokens.add($(this).attr('class'));
            if ($(this).prop("checked")) {
                var answer = {token: $(this).attr('class'), answer: $(this).attr('name')};
                response.push(answer);
            }
        });
        $.ajax({
            type: 'POST',
            url: '/check',
            headers: {'Content-Type': 'application/json'},
            /*[+
            data: JSON.stringify({answers: response, tokens: Array.from(allTokens), userInfo: 'Имя: ' + [[${inputFIO}]] + '\nГруппа: ' + [[${inputGroup}]] + '\nКурс: ' + [[${inputCourse}]]}),
            +]*/
            success: function (data) {
                alert(data)
            }
        });
    }
</script>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

</body>
</html>