<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{bootstrap.min.css}">

    <title>Title</title>
</head>
<body>

<div class="container">
    <h1>Предположим, это тестовая страница</h1>

    <a th:href="@{/}">Страница регистрации</a>

    <div th:each="question,stat:${questions}">
        Вопрос <span th:text="${stat.count}"></span>: <p th:text="${question.getQuestion()}"></p>
        <div th:each="option,iterStat:${question.getOptions()}">
            <label>
                <input type="checkbox" th:text="${option}" th:class="${question.getToken()}"
                       th:name="${iterStat.index}">
            </label>
        </div>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="button" onclick="checkAnswers()">Закончить тест</button>
    <p class="mt-5 mb-3 text-muted">&copy; 2019-2020</p>
</div>
<script th:inline="javascript" type="text/javascript">
    function checkAnswers() {
        $(':checkbox').attr('disabled', true);
        $('button').attr('disabled', true);
        var response = [{token: "", answer: 0}];
        var allTokens = new Set();
        $('input').each(function () {
            allTokens.add($(this).attr('class'));
            if ($(this).prop("checked")) {
                var answer = {token: $(this).attr('class'), answer: $(this).attr('name')};
                response.push(answer);
            }
        });
        $.ajax({
            type: 'POST',
            url: '/check',
            headers: {'Content-Type': 'application/json'},
            /*[+
            data: JSON.stringify({answers: response, tokens: Array.from(allTokens), userInfo: 'Имя: ' + [[${inputFIO}]] + '\nГруппа: ' + [[${inputGroup}]] + '\nКурс: ' + [[${inputCourse}]]}),
            +]*/
            success: function (data) {
                alert(data)
            }
        });
    }
</script>
<script th:src="@{jquery.js}"></script>
<script th:src="@{popper.js}"></script>
<script th:src="@{bootstrap.js}"></script>

</body>
</html>