<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{bootstrap.min.css}">

    <title>Title</title>
</head>
<body>

<div class="container">
    <h1>Удачи!</h1>

    <a th:href="@{/}">Страница регистрации</a>
    <form th:action="@{/result}" method="post">
        <div th:each="question,stat:${questions}" style="padding: 10px;">
            Вопрос <span th:text="${stat.count}"></span>:<p th:text="${question.getQuestion()}"></p>
            <div th:each="option,iterStat:${question.getOptions()}" class="form-check">
                <label>
                    <input type="checkbox" th:text="${option}" class="form-check-input"
                           name="answers" th:value="${iterStat.index}+'_'+${question.getToken()}">
                </label>
            </div>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Закончить тест</button>
    </form>
    <p class="mt-5 mb-3 text-muted">&copy; 2019-2020</p>
</div>
<script th:src="@{jquery.js}"></script>
<script th:src="@{popper.js}"></script>
<script th:src="@{bootstrap.js}"></script>

</body>
</html>