<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{bootstrap.min.css}">
    <title>Title</title>
</head>
<body>

<div class="container">
    <h1>Выберите темы</h1>

    <a th:href="@{/}">Страница регистрации</a>
    <form th:action="@{/test}" method="post">

        <div th:each="theme:${themes}">
            <label>
                <input type="checkbox" th:text="${theme}"
                       name="themes" th:value="${theme}">
            </label>
        </div>
        <input type="hidden" name="inputQuestionsCount" th:value="${inputQuestionsCount}">

        <button class="btn btn-lg btn-primary btn-block" type="submit">Начать тест</button>
        <p class="mt-5 mb-3 text-muted">&copy; 2019-2020</p>
    </form>

</div>
<script th:src="@{jquery.js}"></script>
<script th:src="@{popper.js}"></script>
<script th:src="@{bootstrap.js}"></script>

</body>
</html>